.box_navbar
{
    width: 90%;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.box_mainbox
{
    width: 90%;
    margin: auto;
}


.box_sidebar
{
    background-color: #CCC;
    display: inline-block;
    float: left;

    margin: 10px;
    padding: 25px;
    width: auto;
    height: auto;

    box-shadow: 4px 3px 2px #555;
}

.box_pickbox
{
    background-color: #EEE;
    padding: 1px;
    padding-left: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 55px;
    border-top-right-radius: 5px;
    padding-right: 45px;
}
.box_plusbox
{
    background-color: #FFF;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    margin: 5px;
    margin-left: 15px;
    border: 1px solid black;
}
.box_disabledplus
{
    background-color: #CCC !important;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    margin: 5px;
    margin-left: 15px;
    border: 1px solid #444 !important;
}
.box_researchbox
{
    background-color: #FFF;
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
}
.box_researchoption
{
    border: 1px solid #666;
    background-color: #EEE;
    margin-top: 20px;
}

.hr_hr1
{
    width: 95%;
}



.txt_sidebartxt
{
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.txt_sidebarmain
{
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.txt_sidebarsmall
{
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}