<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
    <title>Toapapper</title>
    <link href="../css/main.css" rel="stylesheet" type="text/css" />
  </head>

  <body id="appBox">
    <div class="box_navbar" >

      <p class="txt_sidebarmain">Capital: {{money.amount.toFixed(2)}}$</p>
      <p class="txt_sidebarmain">Debt: {{money.debt.toFixed(2)}}$</p>
      <button class="box_buttonbox"  v-on:click="paydebt()" :disabled="this.money.debt==0">Pay debt</button>
      <p class="txt_sidebarmain">Unpaid debt will grow exponentially and leech off your income</p>

      <p class="txt_sidebarmain">Income per s: {{stats.sales}}$</p>
      <p class="txt_sidebarmain">Expense per s: {{stats.totalcost}}$</p>
      <p class="txt_sidebarmain">Expenses are paid every m (witch are {{time.longinterval / 1000}} seconds long)</p>

      <p class="txt_sidebarmain">Time: {{time.timepassed}}</p>
      {{money.maxmoneyreached}}
      {{researchers.maxresearchreached}}

    </div>

    <div class="box_mainbox">
      <!--Wood Stuff-->
      <div class="box_sidebar">
        <p class="txt_sidebarmain">Wood Procurement</p>
        <p class="txt_sidebartxt">Amount: {{log.amount}}</p>
        <p class="txt_sidebartxt">Amount per s: {{stats.woodproduction}}</p>
        <p class="txt_sidebartxt">Cost per s: {{stats.woodcost}}</p>

        <hr class="hr_hr1" />

        <div class="box_pickbox">
          <p class="txt_sidebartxt">Buy Logs</p>
          <p class="txt_sidebarsmall">{{log.price}}$</p>
          <input type="number" v-model="log.buyamount">
          <button class="box_plusbox" v-on:click="buylog()">+</button>
        </div>


        <hr class="hr_hr1" />

        <div  v-for="id in logcutter" :key="id">
          <div class="box_pickbox"  v-if="stats.maxmoneyreached > id.price / 3">
            <p class="txt_sidebartxt">{{id.name}}</p>
            <p class="txt_sidebarsmall">Current: {{id.amount}}</p>
            <p class="txt_sidebarsmall">{{id.price * multipliers.woodfactorymultiplier_price}}$</p>
            <p class="txt_sidebarsmall">{{id.wage * multipliers.woodfactorymultiplier_wage}}$ per m</p>
            <p class="txt_sidebarsmall">{{id.production * multipliers.woodfactorymultiplier_production}} logs per s</p>

            <button class="box_plusbox" v-on:click="buylogcutter(id.id,true)">+</button>
            <button class="box_plusbox" v-on:click="buylogcutter(id.id,false)">-</button>

          </div>

          <hr class="hr_hr1" />
        </div>
      </div>

      <!--Glue Stuff-->

      <div class="box_sidebar">
        <p class="txt_sidebarmain">Glue Procurement</p>
        <p class="txt_sidebartxt">Amount: {{glue.amount}}</p>
        <p class="txt_sidebartxt">Amount per s: {{stats.glueproduction}}</p>
        <p class="txt_sidebartxt">Cost per s: {{stats.gluecost}}</p>

        <hr class="hr_hr1" />

        <div class="box_pickbox">
          <p class="txt_sidebartxt">Buy Vats</p>
          <p class="txt_sidebarsmall">{{glue.price}}$</p>
          <input type="number" v-model="glue.buyamount">
          <button class="box_plusbox" v-on:click="buyglue()">+</button>
        </div>

        <hr class="hr_hr1" />

        <div v-for="id in gluefactory" :key="id">
        <div class="box_pickbox">
          <p class="txt_sidebartxt">{{id.name}}</p>
          <p class="txt_sidebarsmall">Current: {{id.amount}}</p>
          <p class="txt_sidebarsmall">{{id.price * multipliers.gluefactorymultiplier_price}}$</p>
          <p class="txt_sidebarsmall">{{id.wage * multipliers.gluefactorymultiplier_wage}}$ per m</p>
          <p class="txt_sidebarsmall">{{id.production * multipliers.gluefactorymultiplier_production}} vats per s</p>

          <button class="box_plusbox" v-on:click="buygluefactory(id.id,true)">+</button>
          <button class="box_plusbox" v-on:click="buygluefactory(id.id,false)">-</button>
        </div>

        <hr class="hr_hr1" />
      </div>

      </div>

      <!--Production Stuff-->

      <div class="box_sidebar">
        <p class="txt_sidebarmain">Production Line</p>
        <p class="txt_sidebartxt">Amount: {{toiletpaper.amount}}</p>
        <p class="txt_sidebartxt">Amount per s: {{stats.paperproduction}}</p>
        <p class="txt_sidebartxt">Cost per s: {{stats.papercost}}</p>
        <p class="txt_sidebartxt">Wood consumption: {{stats.woodconsumption}}</p>
        <p class="txt_sidebartxt">Glue consumption: {{stats.glueconsumption}}</p>

        <hr class="hr_hr1" />

        
        <div v-for="id in factory" :key="id">

          <div class="box_pickbox">
            <p class="txt_sidebartxt">{{id.name}}</p>
            <p class="txt_sidebarsmall">Current: {{id.amount}}</p>
            <p class="txt_sidebarsmall">{{id.price * multipliers.paperfactorymultiplier_price}}$</p>
            <p class="txt_sidebarsmall">{{id.wage * multipliers.paperfactorymultiplier_wage}}$ / m</p>
            <p class="txt_sidebarsmall">-{{id.logcost}} logs per s / -{{id.gluecost}} vat per s</p>
            <p class="txt_sidebarsmall">+{{id.production* multipliers.paperfactorymultiplier_production}} rolls per s</p>

            <button class="box_plusbox" v-on:click="buyfactory(id.id,true)">+</button>
            <button class="box_plusbox" v-on:click="buyfactory(id.id, false)">-</button>
          </div>

          <hr class="hr_hr1" />

        </div>

      </div>

      <!--Sales Stuff-->

      <div class="box_sidebar">
        <p class="txt_sidebarmain">Sales Contracts</p>
        <p class="txt_sidebartxt">Earnings per s: {{stats.sales}}</p>
        <p class="txt_sidebartxt">Consumption per s: {{stats.papersold}}</p>

        <hr class="hr_hr1" />

        <div v-for="id in store" :key="id">
          <div class="box_pickbox">
            <p class="txt_sidebartxt">{{id.name}}</p>
            <p class="txt_sidebarsmall">Current: {{id.amount}}</p>
            <p class="txt_sidebarsmall">{{id.price}} rolls</p>
            <p class="txt_sidebarsmall">-{{id.consumption * multipliers.storemultiplier_consumption}} rolls per s</p>
            <p class="txt_sidebarsmall">{{id.payment * multipliers.storemultiplier_sellprice}}$ per s</p>

            <button class="box_plusbox" v-on:click="buystore(id.id,true)">+</button>
            <button class="box_plusbox" v-on:click="buystore(id.id,false)">-</button>
          </div>

          <hr class="hr_hr1" />
      </div>

        </div>
      <!--Research Stuff-->
      <div class="box_sidebar">
        <p class="txt_sidebarmain">Reserach</p>
        <p class="txt_sidebartxt">Total Knowledge: {{researchers.totalwork.toFixed(3)}}#</p>
        <p class="txt_sidebartxt">Staff: {{researchers.amount}}</p>
        <p class="txt_sidebartxt">Work per s: {{Number(researchers.amount * researchers.productivity)}}</p>
        <p class="txt_sidebartxt">Cost per m: {{researchers.amount * researchers.wage}}</p>

        <hr class="hr_hr1" />

        <div class="box_pickbox">
          <p class="txt_sidebartxt">Buy Researchers</p>
          <p class="txt_sidebarsmall">{{researchers.price}}$</p>
          <input type="number" v-model="researchers.buyamount">
          <button class="box_plusbox" v-on:click="buyresearchers(true)">+</button>
          <button class="box_plusbox" v-on:click="buyresearchers(false)">-</button>
        </div>

        <div class="box_researchbox">
          <div v-for="id in tech" :key="id" >
          <div class="box_researchoption" v-if="id.isbought == false && stats.maxresearchreached > id.price / 3">
              <p class="txt_sidebartxt">{{id.name}} ({{id.price}}#)</p>
              <p class="txt_sidebarsmall">{{id.effectname}}</p>
              <p class="txt_sidebarsmall">{{id.effectdesc}}</p>
              <p>{{id.functionsend}}</p>
              <button class="box_plusbox" 
              v-on:click="buytech(id.varname, id.varupdate, id.id); getstats()">Buy</button>
          </div>

          </div>

        </div>

      </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./../js/main.js"></script>
  </body>
</html>
